/* Color Pallet 
Black #151515
Red #A63D40
Yellow #E9B872

Highlight Colors
Black #1d1d1d
Red #c54a4e
Yellow #ffc97d
*/
/* Add a black background color to the top navigation */

:root {
    --primary-color: #151515;
    --secondary-color: #A63D40;
    --tertiary-color: #E9B872;

    --primary-highlight-color: #292929;
    --secondary-highlight-color: #d45155;
    --tertiary-highlight-color: #ffc97d;
    /*
    --primary-gradient-color: linear-gradient(to right, var(--primary-color) , var(--primary-highlight-color))
    --secondary-gradient-color: linear-gradient(to right, var(--secondary-color) , var(--secondary-highlight-color));
    --tertiary-gradient-color: linear-gradient(to right, var(--tertiary-color) , var(--tertiary-highlight-color));
    */

}


.nav-item {
    color: --tertiary-color;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    background-image: linear-gradient(to right, var(--secondary-color) , var(--secondary-highlight-color));
    color: --tertiary-color;
    /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
}



@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* 
.topnav {
    background-image: linear-gradient(to right, var(--secondary-color) , var(--secondary-highlight-color));;
    overflow: hidden;
    position: sticky;
    height: 10%;
    width: 100%;
    top: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    z-index: 2;
}

.btn-bd-title:hover {
    background-color: var(--primary-highlight-color);
    color: var(--tertiary-highlight-color);
}
.btn-bd-title {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    scale: 1.5;
    position: relative;
    top: 2vh;
    left: 0vh;
    margin-right: 30px;
    margin-left: 30px;
}


.top-nav-buttons a.active {
  background-color: #000000;
  color: white;
}



.top-nav-buttons topnav {
    display: contents;
    position: relative;
    font-size: 17px;
}
*/

.titletext {
    transform-origin: center center;
    font-size:  10vb;
    position: fixed;
    left: 45%;
    font-family: sans-serif;
}

.hero {
    height: 300%;
    z-index: -1;
}

.hacker-type-effect {
    font-size: 25px;
}
/* Global */
body {
    color: var(--tertiary-color); 
    font-family: 'Anonymous Pro', monospace;
    background-image: linear-gradient(to right, var(--primary-color) , var(--primary-highlight-color));
    height: 100vh;
}
