.hacker-type-effect-home {
    font-size: 75px !important;
    position: relative !important;
    bottom: 7vh;
    left: 90vh;
}

.hero {
    width: 100vh;
    height: 80vh;
    overflow-x: hidden;
    margin: 50vh;
    position: relative;
    bottom: 20vh;
}

.hero-container {
    height: 110vh;
    display: contents;
    
}